body {
    margin: 0px;
    width: 100%;
    font-family: 'Inter', sans-serif;

}

.background {
    background-image: url(images/cow-hut.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

nav>ul {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
}
nav li{
    list-style: none;

}
nav li a{
    text-decoration: none;
    color: #EF233C;
}
nav li a:hover{
    padding: 8px;
    color: black;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
}

nav>ul>li>ul{
    list-style: none;
    display: none;
    position: absolute;

}

nav>ul>li:hover ul {
    display: block;
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
}


nav>ul>li>ul>li {
    padding: 5px;

}
.arrow {
    height: 8px;
    width: 8px;
    margin-left: 5px;
    border: 3px solid #EF233C;
    display: inline-block;
    border-left: none;
    border-bottom: none;
    gap: 5px;
    position: relative;
    transform: rotateZ(135deg) translate(0, 4px);
}



.bg-text {
    color: white;
    padding-top: 3%;
    padding-bottom: 13%;
    padding-left: 12%;
    padding-right: 30%;
    background-image: linear-gradient(to right,
            rgba(10, 10, 10, 0.938),
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, 0.1));
    
}

.bg-text h1 {
    font-size: 4em;
    font-weight: bold;
    padding-right: 15%;
    padding-top: 10%;
}
.bg-text p {
    padding-right: 15%;
    
}

#anchor {
    text-decoration: none;
    color: aliceblue;
    padding: 15px 30px;
    background-color: #EF233C;
    border-radius: 10px;
}

#anchor:hover {
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 10px;
}

.explore {
    display: flex;
    position: relative;

}

.depend {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.depend h1 {
    font-size: 3em;
    font-weight: bold;

}

.depend a {
    text-decoration: none;
    color: aliceblue;
    padding: 15px 30px;
    background-color: #EF233C;
    border-radius: 10px;
}

.depend a:hover {
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 10px;
}

#text {
    padding-left: 10%;
    padding-right: 5%;
}

.depend img {
    width: 456px;
    height: 477px;
}

#overlay {
    width: 112px;
    height: 112px;
    position: absolute;
    right: 290px;
    top: 240px;
}

.tasbih {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;


}

.tasbih h1 {
    font-size: 3em;
    font-weight: bold;

}

.tasbih a {
    text-decoration: none;
    color: aliceblue;
    padding: 15px 30px;
    background-color: #EF233C;
    border-radius: 10px;
}

.tasbih a:hover {
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 10px;
}

#survive {
    padding-left: 10%;
    padding-right: 10%;
}

.tasbih img {
    width: 456px;
    height: 477px;
    padding-left: 25%;

}

article {
    text-align: center;
    margin-top: 5%;
}

article h1 {
    font-size: 3em;
}

.donate-help {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
}

#frame-one:hover {
    padding: 2%;
    border: 1px solid orangered;
    background-color: bisque;
    color: grey;
}

#frame-two:hover {
    padding: 2%;
    border: 1px solid orangered;
    background-color: bisque;
    color: grey;
}

#frame-three:hover {
    padding: 2%;
    border: 1px solid orangered;
    background-color: bisque;
    color: grey;
}

#frame-four:hover {
    padding: 2%;
    border: 1px solid orangered;
    background-color: bisque;
    color: grey;
}

.help {
    width: 30%;
    background-color: #FEF4F5;
    margin: 10px;
    padding: 15px 15px;
    border-radius: 10px;

}

.help img {
    margin: 60px 30px;
    float: left;
}

.prayer {
    display: flex;
    justify-content: center;

}

.prayer img {
    margin: 10px;
}

.extend {
    text-align: center;
    margin: 0px 300px;
    margin-bottom: 17%;
    margin-top: 5%;
}

.extend h1 {
    font-size: 3em;
}

.donate-zakat {
    display: flex;
    justify-content: center;

}

.love {
    width: 24%;
    border: 1px solid silver;
    margin: 10px;
    padding: 19px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 3%;
}

.love img {
    position: absolute;
    left: -1px;
    bottom: 175px;

}

.love a {

    font-weight: 700;
    color: #EF233C;

}

.love a:hover {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
}

footer {
    height: 170px;
    background-color: black;
    text-align: center;
}

footer h1 {
    color: #EF233C;
    padding: 40px;
    font-family: 'Lobster', cursive;
}

footer h1:hover {
    color: #faf8f8;

}

footer small {
    color: white;
}